@{
    ViewData["Title"] = "Admin Paneli";
}

<h1>Admin Paneline Hoş Geldiniz!</h1>

<p>Buradan sistemdeki danışmanları ve diğer ayarları yönetebilirsiniz.</p>

<ul>
    <li><a asp-controller="Admin" asp-action="ManageConsultants">Manage Consultants</a></li>
    <li><a asp-controller="Admin" asp-action="CreateConsultant">Add a New Consultant</a></li>
    
</ul>